{% block body %}

	{{ form_start(form) }}
	<div class="form-group m-5 pt-5">
		{{ form_row(form.name) }}
	</div>
	<div class="form-group m-5">
		{{ form_row(form.description) }}
	</div>
	<div class="form-group m-5">
		{{ form_row(form.groupTrick) }}
	</div>
	<h3 class="d-flex justify-content-center">Ajouter une image et/ou video</h3>
	<div class="form-group d-flex justify-content-around w-100">
		<div class="m-5">
			{{ form_row(form.medias) }}
		</div>

	</div>
	<div class="form-group d-flex justify-content-end mb-2 mx-5">
		{{ form_row(form.save) }}
	</div>
	{{ form_end(form) }}

{% endblock %}
