{% block body %}
	<section style="background-color: #eee;">
		<div class="container pt-4">
			<div class="row d-flex justify-content-center">
				<div class="col-md-12 col-lg-10 col-xl-8">
					<div class="card mb-3">
						<div class="card-header d-flex justify-content-between">
							<h4>Commentaires</h4>
							<a href="#commentary_content" class="btn btn-outline-primary">Ajouter un commentaire
								<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-down-circle" viewbox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/></svg>
							</a>
						</div>
						{% for commentary in commentaries %}
							<div class="card-body">
								<div class="d-flex flex-start align-items-center">
									{% if commentary.user.urlImage starts with 'https' %}
										<img class="rounded-circle shadow-1-strong me-3" src="{{ commentary.user.urlImage }}" alt="avatar" width="60" height="60"/>
									{% else %}
										<img class="rounded-circle shadow-1-strong me-3" src="{{ asset('uploads/'~commentary.user.urlImage) }}" width="60" height="60">
									{% endif %}
									<div>
										<h6 class="fw-bold text-primary mb-1">{{ commentary.user.username }}</h6>
										<p class="text-muted small mb-0">
											Posté le -
											{{ commentary.createdAt|date("d/m/Y") }}
										</p>
									</div>
								</div>
								<p class="mt-3 mb-1 pb-2 contentCommentary">
									{{ commentary.content }}
								</p>
								{% if app.user %}
									{% if is_granted('ROLE_ADMIN') or app.user.username == commentary.user.username %}
										<div class="d-flex justify-content-end">
											<a href="{{ path('delete_comment',{"id": commentary.id}) }}" class="btn btn-danger">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewbox="0 0 16 16">
													<path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/></svg>
											</a>
										</div>
									{% endif %}
								{% endif %}
								<hr class="my-2" style="width:98%;margin:auto"></hr>
						</div>
					{% endfor %}


					{% if app.user %}


						{{ form_start(form)}}
						<div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
							<div class="d-flex flex-start w-100">
								{% if app.user.urlImage starts with 'https' %}
									<img class="rounded-circle shadow-1-strong" src="{{ app.user.urlImage }}" alt="avatar" width="60" height="60"/>
								{% else %}
									<img class="rounded-circle shadow-1-strong" src="{{ asset('uploads/'~app.user.urlImage) }}" width="60" height="60">
								{% endif %}
								<div class="form-outline w-100">
									{{ form_widget(form.content) }}
								</div>
							</div>
							<a href="#getTrick" class="btn btn-outline-primary mt-2 pt-1">Remonter la page
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-up-circle" viewbox="0 0 16 16">
									<path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/></svg>
							</a>
							<div class="float-end mt-2 pt-1">
								<button type="submit" class="btn btn-primary btn-sm">Ajouter ce commentaire</button>
								<button type="button" class="btn btn-outline-primary btn-sm">Annuler</button>
							</div>
						</div>
					</div>
					{{ form_end(form)}}

				{% else %}
					<div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
						<div class="d-flex justify-content-between w-100">
							<div class="flash-notice d-flex w-100" id="commentary_content">
								<div class="alert alert-danger w-60 mb-0" role="alert">
									Vous devez
									<a href="{{ path('app_login') }}" class="link-secondary">vous connecter</a>
									pour ajouter un commentaire.
								</div>
								<a href="#getTrick" class="position-absolute bottom-0 end-0 mb-2 mx-2">
									<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-up-circle" viewbox="0 0 16 16">
										<path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/></svg>
								</a>
							</div>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="pagination mt-3">
		{{ knp_pagination_render(commentaries) }}
	</div>
</section>{% endblock %}
