{% extends 'base.html.twig' %}

{% block title %}Snow Trick - creation
{% endblock %}

{% block body %}
	<main class="mainNewTrickForm pt-2 bg-light text-dark">


		<form enctype="multipart/form-data" class="newTrickForm m-5 bg-dark text-white" name="newTrick" method="post">

			{{ form_start(form) }}
			<div class="form-group m-5 pt-5">
				{{ form_row(form.name) }}
			</div>
			<div class="form-group m-5">
				{{ form_row(form.description) }}
			</div>
			<div class="form-group m-5">
				{{ form_row(form.groupTrick) }}
			</div>
			<h3 class="d-flex justify-content-center">Ajouter une image/video</h3>
			<div class="form-group d-flex justify-content-around w-100">
				<div class="m-5">{{ form_row(form.medias) }}</div>
			</div>
			<div class="form-group d-flex justify-content-end mb-2 mx-5">
				{{ form_row(form.save) }}
			</div>
			{{ form_end(form) }}
		</form>
	</main>
{% endblock %}
